# Node modules
node_modules/

# Build files
build/
loadable-stats.json
package-lock.json

# Static content
/overrides/app/static/*
!/overrides/app/static/.gitkeep

# Translations
overrides/app/static/translations/compiled/

# Environment files
.env
